*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

body{
    height: 100vh;
    background-color: rgb(216, 223, 218);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 60%;
    border-radius: 10px;
    overflow: hidden;
    text-align: right;
    box-shadow: 7px 7px 7px rgba(241, 125, 168, 0.5);
}

.display{
    width: 100%;
    height: 25vh;
    background: rgb(48, 45, 52);
    color: rgb(145, 196, 225);

}

.input{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button{
    border:none;
    background-color: rgb(198, 219, 77);
    padding:1.6rem;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

button:hover{
    font-weight: bold;
}


.output{
    font-size: 28px;
    padding: 25px;
}

.result{
    font-size: 30px;
    padding: 25px;
}

@keyframes big{
    0%{
        font-size: 20px;
    }
    100%{
        font-size: 30px;
    }
}

@keyframes small{
    0%{
        font-size: 28px;
    }
    100%{
        font-size: 18px;
    }
}
